*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: white;
}

body,input,button,textarea{
    font-weight: 400;
    
}

#page-landing{
    text-align: center;
    background: linear-gradient(352.29deg, #29b6d1 0%, #00c7c7 100%);
    min-height: 100vh;
}